.bullet_slider .slider_viewport {
  overflow: hidden;
  position: relative;
}
.bullet_slider .slider_panels {
  white-space: nowrap;
}
.bullet_slider .slider_panel {
  display: none;
  float: left;
}
.bullet_slider .slider_bullets {
  text-align: center;
  margin: 0;
  padding: 0;
}
.bullet_slider .slider_bullets .slider_bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin: 2px;
  border-radius: 5px;
}

.bullet_slider .slider_bullets .slider_bullet.selected {
  background-color: #999;
}
