/* ~~~~~~~~~~~~~  Handy Cleaning Tool - Divider & Spacer  ~~~~~~~~~~~~~ */
.cleardiv {
    clear: both;
}

/* ~~~~~~~~~~~~~  Sub Header  ~~~~~~~~~~~~~ */
#jumbotron {
    height: 316px;
    background: url(../cmsimages/jumbotron_back_rep.png) repeat-x top center;
    text-align: center;
}
#jumbotron_liner {
    width: 1000px;
    height: 316px;
    padding-top: 80px;
    margin: 0 auto;
    background: url(../cmsimages/jumbotron_back.png) no-repeat top center;
}
#jumbotron h1 {
    font-size: 44px;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.1em;
}
#jumbotron p {
    margin-top:30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
/* ~~~~~~~~~~~~~  Content  ~~~~~~~~~~~~~ */
#jobs_content {
    width: 1000px;
    padding-top: 47px;
    margin-left: auto;
    margin-right: auto;
}
#jobs_content .row {
    width: 1000px;
}
#jobs_content .divider {
    width: 1000px;
    margin:16px 0;
    padding-top: 15px;
    height:1px;
    clear:both;
    border-bottom:1px solid #e5e5e5;
}
#jobs_content .row .left_side {
    width: 360px;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
#jobs_content .row .left_side h2 {
    padding-left: 115px;
    font-size: 26px;
    font-weight: 400;
    line-height: 106px;
    color: #6da611;
}
#jobs_content .row .left_side h2#ourstory {
    background: url(../cmsimages/jobs_ourstory.png) no-repeat top left;
}
#jobs_content .row .left_side h2#culture {
    background: url(../cmsimages/jobs_culture.png) no-repeat top left;
}
#jobs_content .row .left_side h2#ourtools {
    background: url(../cmsimages/jobs_ourtools.png) no-repeat top left;
}
#jobs_content .row .left_side h2#benefits {
    background: url(../cmsimages/jobs_benefits.png) no-repeat top left;
}
#jobs_content .row .right_side {
    width: 640px;
    float: right;
    font-family: 'Dosis', sans-serif;
    color: #555;
}
#jobs_content .row .right_side h3 {
    margin-top: 37px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 40px;
}
#jobs_content .row .right_side p {
    padding: 0;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
#jobs_content .row .right_side ul {
    margin: 0 0 16px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    list-style: none;
    
}
#jobs_content .row .right_side ul li {
    margin-left: 0;
    padding-left: 10px;
    list-style:none;
    background: url(../cmsimages/bullet.gif) no-repeat 0 10px;
}
/* ~~~~~~~~~~~~~  Job Listings Towards Bottom  ~~~~~~~~~~~~~ */
#job_list {
    padding: 15px 0 50px 0;
    margin: 25px 0;
    background: url(../cmsimages/job_list_bg.gif) repeat top center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#job_list #job_list_liner {
    width: 1000px;
    margin: 0 auto;
    color: #fff;
}
#job_list #job_list_liner #jobs_list_left {
    width: 360px;
    float: left;
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
    font-weight: 400;
}
#job_list #job_list_liner #jobs_list_left h2 {
    padding-left: 0;
    padding-top: 35px;
    text-align: left;
}
#job_list #job_list_liner #list_right_side {
    width: 640px;
    float: right;
    font-family: 'Dosis', sans-serif;
}
#job_list_liner .job_table {
    width: 640px;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    line-height: 20px;
}
#job_list_liner .job_table th {
    width: 640px;
    padding-top: 35px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
    border-bottom: 1px solid #aaa;
}
#job_list_liner .job_table .blankline {
    line-height: 6px;
}
#job_list_liner .job_table .job_row {
    cursor: pointer;
}
#job_list_liner .job_table .job_row:hover {
    background-color: #aeaeae;
}
#job_list_liner .job_table .job_row .job_title {
    width: 480px;
}
#job_list_liner .job_table .job_row .job_site {
    width: 160px;
}
#job_list_liner .job_table .job_row .job_TDRs {
    display: none;
}
#job_list_liner .job_table .job_row .job_KSAOs {
    display: none;
}
#job_list_liner .job_table .job_row .job_apply {
    display: none;
}



/* ~~~~~~~~~~~~~  Modal Overrides from pricing.css - sized to match psd file relative positioning  ~~~~~~~~~~~~~ */

#pd_content_outer{
  width: 840px;
  margin-left: -416px;
}
#pd_content{
  width: 840px;
}
#pd_content div.fb_box_content{
  width: 780px;
}

/* ~~~~~~~~~~~~~  Modal Display  ~~~~~~~~~~~~~ */
.modal_left {
    width: 210px;
    margin-top: 25px;
    float:left;
    font-family: 'Dosis',sans-serif;
    color: #555;
}
.modal_left.jdescription {
    margin-top:45px;
}
.modal_left.applyat {
    margin-bottom: 15px;
    border-bottom: 0;
}
.modal_left h2 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.modal_right {
    width: 570px;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #aaa;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Dosis',sans-serif;
    font-weight: 300;
    float: right;
}
.modal_right.jdescription {
    margin-top:45px;
}
.modal_right ul li {
    padding-left: 9px;
    background: url(../cmsimages/bullet.gif) no-repeat 0 10px;
}
.modal_right.applyat {
    margin-bottom: 15px;
    border-bottom: 0;
}
