h2.tracker_icon { background: url(../cmsimages/icon_big_tracker.png) no-repeat 90% 100%; }
h2.assessment_icon { background: url(../cmsimages/icon_big_assessment.png) no-repeat 90% 100%; }
h2.plc_icon { background: url(../cmsimages/icon_big_plc.png) no-repeat 90% 100%; }
h2.reports_icon { background: url(../cmsimages/icon_big_reports.png) no-repeat 90% 100%; }

.new_block {
  clear: both;
  margin-top: 50px;
  margin-left: 20px;
}
.clear {
  clear: both;
}
.video {
  background: url(/images/video_icon.png) no-repeat left center;
  color: #6EA523;
  padding-left: 21px;
}

#content h1,
#content h2,
#content p,
#content ul,
#content ol {
  padding-left: 20px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
  font-size: 90%;
}
#content h1 {
  font-size: 204%; /* 26px */
  color: #666;
  margin-top: 30px;
  margin-bottom: 5px;
}
#content h2,
#content_2 h2 {
  color: #666;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 10px;
}
#content p,
#content ul {
  margin-bottom: 22px;
}
.slider_panels p,
#content p,li {
  color: #666;
  line-height: 22px;
  font-size: 100%; /* renders 13px */
}
#content p.big {
  line-height: 26px;
  font-size: 123.1%; /* renders 16px */
  margin-bottom: 0;
}
#content p.inner,
#content ul.inner {
  margin-bottom: 0px;
}

#content hr {
  background-color: #f2f2f2;
  border: none;
  border-top: 1px dotted #666;
  height: 5px;
  margin: 25px 20px;
  margin-right: 0;
  clear: both;
}

#content .left_of_content {
  float: left;
}
#content img.left_of_content {
  padding: 0 24px;
}
#content .right_of_content {
  float: right;
}
#content img.right_of_content {
  padding: 0 24px;
  padding-right: 0;
}

#content li {
  list-style: circle outside;
  margin-left: 1em;
}

/* anchors */
a {
  position: relative;
  color: #6ea723;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.anchors {
  width: 341px;
  margin-top: 35px;
}
.anchors.left_of_content {
  margin-left: 20px;
}
.anchors a {
  border-bottom: 1px solid #e0e0e0;
  display: block;
  line-height: 41px;
  padding-left: 35px;
  color: #5a9100;
  font-size: 15px;
  text-decoration: none;
}
.anchors a.first {
  border-top: 1px solid #e0e0e0;
}
.anchors a:hover {
  background-color: #f7f7f7;
}
a.button {
  background: #faa037 url(/images/small_btn_bg.png) repeat-x top left;
  border: 1px solid #ae4600;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0px 10px;
  line-height: 23px;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 3px;
}


/* icons */

.with_icon {
  padding-left: 30px;
}
.with_floating_icon {
  padding-left: 30px;
  width: 10px;
  height: 25px;
  margin-left: 20px;
  float: left;
}

.assessing_icon_small { background: url(../cmsimages/icon_small_assessing.png) no-repeat left center; }
.chart_icon_small { background: url(../cmsimages/icon_small_chart.png) no-repeat left center; }
.communicate_icon_small { background: url(../cmsimages/icon_small_communicate.png) no-repeat left center; }
.export_icon_small { background: url(../cmsimages/icon_small_export.png) no-repeat left center; }
.map_icon_small { background: url(../cmsimages/icon_small_map.png) no-repeat left center; }
.plc_icon_small { background: url(../cmsimages/icon_small_plc.png) no-repeat left center; }
.remediation_icon_small { background: url(../cmsimages/icon_small_remediation.png) no-repeat left center; }
.sharing_icon_small { background: url(../cmsimages/icon_small_sharing.png) no-repeat left center; }
.teaching_icon_small { background: url(../cmsimages/icon_small_teaching.png) no-repeat left center; }
.viewing_icon_small { background: url(../cmsimages/icon_small_viewing.png) no-repeat left center; }

.assessing_icon { background: url(../cmsimages/icon_big_assessing.png) no-repeat left top; }
.assessment_icon { background: url(../cmsimages/icon_big_assessment.png) no-repeat left top; }
.chart_icon { background: url(../cmsimages/icon_big_chart.png) no-repeat left top; }
.communicate_icon { background: url(../cmsimages/icon_big_communicate.png) no-repeat left top; }
.export_icon { background: url(../cmsimages/icon_big_export.png) no-repeat left top; }
.map_icon { background: url(../cmsimages/icon_big_map.png) no-repeat left top; }
.plc_icon { background: url(../cmsimages/icon_big_plc.png) no-repeat left top; }
.remediation_icon { background: url(../cmsimages/icon_big_remediation.png) no-repeat left top; }
.reports_icon { background: url(../cmsimages/icon_big_reports.png) no-repeat left top; }
.sharing_icon { background: url(../cmsimages/icon_big_sharing.png) no-repeat left top; }
.teaching_icon { background: url(../cmsimages/icon_big_teaching.png) no-repeat left top; }
.tracker_icon { background: url(../cmsimages/icon_big_tracker.png) no-repeat left top; }
.viewing_icon { background: url(../cmsimages/icon_big_viewing.png) no-repeat left top; }


/* subcontent */
.subcontent {
  border-top: 1px dotted #575757;
  margin-left: 20px;
  padding-top: 30px;
  padding-bottom: 8px;
}
.subcontent p,
.subcontent ul {
  margin-left: 195px;
}
.subcontent h3 {
  float: left;
  padding-left: 0px;
  width: 195px;
  font-size: 16px;
  line-height: 20px;
  height: 70px;
}
.subcontent .bubblesheet_icon {
  padding-left: 80px; width: 115px;
  background: url(../cmsimages/home_bubblesheet.png) no-repeat top left; }
.subcontent .computer_icon {
  padding-left: 80px; width: 115px;
  background: url(../cmsimages/home_computer.png) no-repeat top left; }
.subcontent .ipod_icon {
  padding-left: 80px; width: 115px;
  background: url(../cmsimages/home_ipod.png) no-repeat top left; }

/* global content */

.globalcontent_2 {
  background: url(../cmsimages/side_white_fade.png) repeat-x right bottom;
  margin-right: 20px;
  margin-top: 56px;
  padding-bottom: 300px;
}

#side #call_to_action {
  text-align: center;
}
#side #call_to_action a {
  display: block;
  width: 220px;
  line-height: 39px;
  font-size: 108%; /*renders 14px */
  text-transform: uppercase;
  text-decoration: none;
}
#side #call_to_action a#main_btn {
  background: url(../cmsimages/side_orange_btn.jpg) no-repeat center center;
  color: #fff;
  text-shadow: 0px -1px 0px #999;
}

#side .pricing {
  margin-top: 20px;
  text-align: center;
}
#content textarea.code {
  width: 700px;
  border: 2px solid #999;
  background-color: #efefef;
  padding: 5px;
}
#content .indented_block {
  float: right;
  color: #666;
}
#content .indented_block_label {
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
}
#content .indented_block h2 {
  font-weight: bold;
  color: #666;
}
#content .indented_block p {
  font-size: 120%;
}
#_MC_ccapp_embed {
  margin-left: 20px;
}
#widget_example_arrow {
  padding: 5px;
  padding-right: 120px;
  padding-bottom: 7px;
  background: url(../cmsimages/ccapp_try_arrow.png) no-repeat center right;
}

#video_slider {
  float: left;
  width: 490px;
}
#video_slider .video {
  background: none;
  padding: 0;
}

#video_slider p {
  text-align: center;
}

#dialog form button.orn_button{
	float:left;
	display:block;
	text-decoration:none;
	padding:0 12px;
	background: rgb(253,207,160);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkY2ZhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZmI5ZTQwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RlODEyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(253,207,160,1) 0%, rgba(251,158,64,1) 4%, rgba(222,129,36,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,207,160,1)), color-stop(4%,rgba(251,158,64,1)), color-stop(100%,rgba(222,129,36,1)));
	background: -webkit-linear-gradient(top,  rgba(253,207,160,1) 0%,rgba(251,158,64,1) 4%,rgba(222,129,36,1) 100%);
	background: -o-linear-gradient(top,  rgba(253,207,160,1) 0%,rgba(251,158,64,1) 4%,rgba(222,129,36,1) 100%);
	background: -ms-linear-gradient(top,  rgba(253,207,160,1) 0%,rgba(251,158,64,1) 4%,rgba(222,129,36,1) 100%);
	background: linear-gradient(top,  rgba(253,207,160,1) 0%,rgba(251,158,64,1) 4%,rgba(222,129,36,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdcfa0', endColorstr='#de8124',GradientType=0 );

    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
	
	-moz-box-shadow:    0px 1px 2px #999;
	-webkit-box-shadow: 0px 1px 2px #999;
	box-shadow:         0px 1px 2px #999;
	
	text-shadow: 0px -1px 0px #af6419;
	
	border:1px solid #af6419;
	color:#fff;
	height:33px; line-height:33px;
	font-weight:bold;
	text-transform:capitalize;
	margin:0 0 0 124px;
	font-size:14px;
}

/* leadership pd */
div#leadership_pd_sidebar{width:197px;margin:auto;}
div#leadership_pd_sidebar h3{color:#444444;font-size:14px;font-weight:bold;line-height:24px;}
div#leadership_pd_sidebar p{color:#444;font-size:12px;line-height:18px;margin:6px 0;padding:0;}
div#leadership_pd_sidebar ul{list-style:none;}
div#leadership_pd_sidebar ul li{background:url(../cmsimages/list_bullet.gif) no-repeat 0 10px;padding:4px 8px;border-top:1px solid #e0e0e0;font-size:12px;line-height:18px;}

#content div#leadership_content{}
#content div#leadership_content p{color:#333;margin-bottom:12px;}
#content div#leadership_content h1{font-size:38px;line-height:52px;color:#333;font-weight:normal;}
#content div#leadership_content h2{font-size:16px;line-height:42px;color:#555;font-weight:normal;text-transform:uppercase;}
#content div#leadership_content h2 em{color:#669f0a;font-weight:bold;font-style:normal;}
#content div#leadership_content ul{list-style:disc;padding-left:30px;}
#content div#leadership_content ul li{list-style:disc;color:#333;}
  
#content div#leadership_content div.session_header{padding-left:20px;margin-bottom:16px;margin-top:48px;}
#content div#leadership_content div.session_header p{padding-left:0;}
#content div#leadership_content div.session_header h2{color:#333;line-height:32px;font-size:20px;font-weight:bold;padding-left:0;margin-bottom:0;text-transform:capitalize;}
#content div#leadership_content div.session_header h3{color:#333;line-height:22px;font-size:12px;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;text-transform:uppercase;}
#content div#leadership_content div.session_header h3 em{text-transform:lowercase;}

#content div#leadership_content div.session_times{padding-left:20px;}
#content div#leadership_content div.session_times h3{font-size:15px;color:#333;line-height:32px;border-bottom:1px solid #e0e0e0;}
#content div#leadership_content div.session_times div.session_time{border-bottom:1px solid #e0e0e0;font-size:14px;line-height:32px;color:#666;font-weight:bold;}
#content div#leadership_content div.session_times div.session_time a{float:right;}
#content div#leadership_content div.session_times div.session_time em{font-weight:normal;font-size:11px;font-style:normal;}

#content div#leadership_content div.leadership_notes{margin-top:80px;background-color:#e0e0e0;padding:22px 22px 10px;moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
#content div#leadership_content div.leadership_notes h3{font-weight:bold;font-size:14px;}
#content div#leadership_content div.leadership_notes p{padding-left:0;font-size:12px;line-height:22px;}