#dialog li,
.dialog li {
  list-style: disc;
  margin-left: 1em;
  margin-bottom: 5px;
}
.jqmWindow {
  border: none;
  background: none;
  width: 332px;
  top: 10%;
  padding: 0;
  margin-left: -180px;
}
.jqmWindow.big {
  position: absolute;
  top: 5px;
  width: 860px;
  margin-left: -430px;
}
.jqmWindow.screenshot {
  position: absolute;
  top:820px;
  width: 850px;
  margin-left: -445px;
}
.jqmWindow .dialog_content {
  background-color: #fff;
  padding: 20px 40px;
  text-align: center;
}

.jqmWindow .screenshot_dialog_content{
	background-color: #fff;
  padding: 0;
  text-align: center;
}

.jqmWindow.big .dialog_content {
  padding: 10px 20px;
}

.jqmWindow .screenshot_dialog_content{
	padding:0;
}

#close_dialog {
  background: url(../cmsimages/circle_x_icon.png) no-repeat left center;
  line-height: 47px;
  padding: 0px 20px 0px 25px;
  font-size: 130%;
  font-weight: bold;
  color: #6EA523;
  text-decoration: none;
}
#close_dialog:hover {
  text-decoration: underline;
}

.top_cap {
  height: 47px;
  background-color: #eee;
  text-align: right;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bottom_cap {
  height: 47px;
  background-color: #eee;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.jolly_button {
  background: url(/images/jolly_btn_fixed.png);
  width: 252px;
  height: 46px;
  margin-bottom: 10px;
}
div.jolly_button a {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  color: #666;
  display: block;
  font-size: 110%;
  line-height: 46px;
  padding-left: 40px;
}
div.jolly_button a span {
  color: #6EA523;
  font-size: 140%;
  text-transform: uppercase;
}
div.jolly_button.find_btn a { background-image: url(/images/jolly_find_icon.png); }
div.jolly_button.select_btn a { background-image: url(/images/jolly_select_icon.png); }
div.jolly_button.upload_btn a { background-image: url(/images/jolly_upload_icon.png); }

/* messaging dialogs */
.message_dialog_positioner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 580px;
  margin-left: -290px;
}
.dialog {
  display: none;
}
.dialog .dialog_content {
  background-color: #fc9f38;
  color: #fff;
  padding: 0 20px 10px 20px;

  box-shadow: 0px 1px 3px #888;
  -moz-box-shadow: 0px 1px 3px #888;
  -webkit-box-shadow: 0px 1px 3px #888;
}
.notice_dialog .dialog_content {
  background-color: #6ea523;
}
#dialog h1,
#dialog dt {
  color: #666;
}
.dialog h2 {
  background: url(/images/thumbs_down_icon.gif) no-repeat left 25px;
  border-bottom: 1px dotted #956326;
  text-shadow: 0px -1px 0px #999;
  padding: 20px 0 20px 35px;
}
.notice_dialog h2 {
  background: url(/images/thumbs_up_icon.gif) no-repeat left 17px;
}
.dialog h2.single_message {
  border: none;
  padding-bottom: 10px;
}
.notice_dialog h2.single_message {
  background-position: left 37px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.dialog ul li {
  list-style: disc inside;
}
.dialog .footer {
  border-top: 1px solid #956326;
  background-color: #db7e14;
  text-align: center;
  line-height: 30px;

  box-shadow: 0px 1px 3px #888;
  -moz-box-shadow: 0px 1px 3px #888;
  -webkit-box-shadow: 0px 1px 3px #888;

  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}
.notice_dialog .footer {
  border: none;
  background-color: #598e11;
  height: 10px;
}
.dialog .footer .close_dialog {
  font-size: 100%;
  color: #fff;
  text-shadow: 0px -1px 0px #999;
  text-transform: uppercase;
}

#dialog button {
  margin-top: 15px;
}

.qtip-wrapper {
  box-shadow: 0px 1px 5px #888;
  -moz-box-shadow: 0px 1px 5px #666;
  -webkit-box-shadow: 0px 1px 5px #666;
}
.qtip-tip {
  z-index: 2;
}
.qtip-title {
  text-shadow: 0px -1px 0px #999;
}

#dialog h1#video_title{
  float:left;
  clear:both;
  width:100%;
  text-align:left;
  padding-left:0;
}
div#video_playlist {
  float:right;
  width:160px;
  height:360px;
  padding:0 0 0 20px;
}
div#video_playlist a img{
  float:left;clear:both;
  margin:0 0 15px;
  border:1px solid #ccc;
  padding:0;
}

#dialog .video-js-box{
  float:left;
}

#dialog div#social_links {
  float:right;
  width:160px;
  margin:15px 0 0;
  padding:0 0 0 20px;
}
#dialog div#social_links em {
	float:right;
	width:140px;
	color:#ccc;
	text-align:right;
	padding:5px;
	font-family:Georgia, serif;
}
#dialog div#social_links img{
  float:right;
  margin-right:6px;
}
#dialog div#social_links a:hover img{
  margin-top:-2px;
}

#dialog div#social_links div{
  display:none;
}

