.clear{
  clear: both;
}


#content #feature_wrapper{
  margin-top: -16px;
  width: 100%;
}
#feature_content{
  width: 1000px;
  margin: auto;
}
#feature_content img{
  border: 0;
}

.features_nav_top{
  width: 240px;
  text-align: right;
  float: left;
}
.features_nav_top .spacer{
  margin-bottom: -10px;
}

div.anythingSlider.activeSlider {
  padding: 1px;
}
div.anythingSlider.activeSlider .anythingWindow {
  width: 730px;
  position: relative;
  top: -30px;
  left: 135px;
}
#content ul#slider{
  padding-left: 0px;
}


#page{
  width: 400px;
  float: left;
  border: 1px solid red;
}


#content ul.thumbNav{
  position: absolute;
  top: 90px;
  left: -134px;
  padding-left: 0px;
  width: 240px;
}
.thumbNav li{
  padding-top: 5px;
  margin-bottom: 1px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
#content ul.thumbNav li, #content ul#slider li{
  list-style: none;
  margin-left: 0px;
}
.thumbNav .static{
  background: url('../cmsimages/navbg.png') repeat-y top right;
}
.thumbNav .hover{
  background: url('../cmsimages/navbg_hover.png') repeat-y top right;
  margin-bottom: 1px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.thumbNav .selected{
  margin-bottom: 1px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 0px;
}
.thumbNav li a{
	font: 11px/18px Arial, sans-serif;
  font-size: 16px;
	display: inline-block;
	text-decoration: none;
	padding: 2px 8px;
	margin: 0 5px 0 0;
	text-align: center;
}













.slide-canvas{
	font-family: Helvetica, Arial, sans-serif;
  width: 730px;
  min-height: 200px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}
.slide-canvas .canvas_left{
  width: 500px;
  float: left;
}
.slide-canvas .canvas_right{
  float: right;
}
.slide-canvas .title{
  font-size: 30px;
  color: #333333;
  margin-bottom: 15px;
  margin-top: 5px;
}
.slide-canvas .sub_title{
  font-size: 30px;
  color: #67a00b;
  text-transform: lowercase;
  margin-bottom: 20px;
}
.slide-canvas .copy{
  font-size: 15px;
  color: #666666;
}
.slide-element{
  height: auto;
  padding-top: 35px;
  padding-bottom: 15px;
	font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #e0e0e0;
}
.slide-element .left{
  float: left;
  width: 45%;
  padding-right: 10px;
}
.slide-element .right{
  float: right;
  width: 50%;
}
.slide-element .sm-left{
  float: left;
  width: 33%;
}
.slide-element .sm-right{
  float: right;
  width: 33%;
}
.slide-element .lg-right{
  float: right;
  width: 65%;
}
.slide-element .lg-left{
  float: left;
  width: 65%;
}
.slide-element .title{
  font-size: 20px;
  color: #333333;
  padding-bottom: 20px;
}
.slide-element .copy{
  font-size: 15px;
  color: #666666;
  line-height: 24px;
}




.slide_nav_item{
}
.slide_nav_icon{
  float: left;
  width: 31px;
}
.slide_nav_text{
  float: right;
  width: 180px;
  text-align: left;
  color: #666;
  font-size: 10px;
  line-height: 14px;
}
.slide_nav_text .title{
  font-weight: bold;
  font-style: bold;
  font-size: 12px;
  padding-bottom: 5px;
 }
.slider_nav_buttons{
  position: relative;
  top: -2040px;
  left: 30px;
}

.feature_panel_nav{
	float:left;
	clear:both;
	width:730px;
	border-bottom: 1px solid #e0e0e0;
	line-height:36px;
}

.feature_panel_nav a.back{
	float:left;
}

.feature_panel_nav a.next{
	float:right;
}	

div.feature_call_to_action{
	text-align: center;
	width:240px;
	margin:24px auto 0;
}

.cta_button{
	display:block;
	float:left;
	text-decoration:none;
	padding:7px 20px;
	font-size:100%;
	line-height:12px;
	text-shadow: 0px 1px 1px #787878;
	
	background-color: #e89c37;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(232, 156, 55)),to(rgb(224, 122, 41)));
	background-image: -webkit-linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	background-image: -moz-linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	background-image: -o-linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	background-image: -ms-linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	background-image: linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#e89c37', EndColorStr='#e07a29');
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	border:1px solid #af630e;
	
	-moz-box-shadow: 0px 1px 3px #adadad;
	-webkit-box-shadow: 0px 1px 3px #adadad;
	box-shadow: 0px 1px 3px #adadad;
	
	color:#FFF;
	text-align:center;
	
	margin:24px 0 0;
}

.cta_button strong{
	font-size:246%;
	line-height:42px;
}
