#footer {
  color: #666;
  clear: both;
  padding-top: 50px;
}
#footer a {
  color: #666;
  text-decoration: none;
}
#footer ul {
  font-size: 93%; /* renders 12px */
  border-top: 1px solid #CCC;
  height: 30px;
}
#footer li {
  margin-top: 15px;
  float: left;
  border-right: 1px solid #CCC;
  padding: 0 10px;
}
#footer li.last {
  border: none;
}
#footer .copyright {
  font-size: 77%; /* renders 10px */
  margin-top: 15px;
  float: right;
  font-style: italic;
}
