#dialog form,
#content form {
  padding: 20px 150px;
  color: #666;
}

#dialog form textarea,
#dialog form input,
#content form textarea,
#content form input {
  float: left;
  border: 1px solid #333;
  font-size: 140%;
  width: 300px;
}
#dialog form textarea,
#content form textarea {
  height: 3em;
}
#dialog form input.phone1,
#dialog form input.phone2,
#content form input.phone1,
#content form input.phone2 {
  width: 35px;
  margin-right: 5px;
  text-align: center;
}
#dialog form input.phone3,
#content form input.phone3 {
  width: 50px;
  text-align: center;
}
#dialog form div,
#content form div {
  float: left;
  clear: left;
  margin: 5px 0px;
}
#dialog form label,
#content form label {
  float: left;
  line-height: 22px;
  margin-right: 10px;
  display: block;
  width: 80px;
  text-align: right;
}
#dialog form label {
  width: 115px;
}

#dialog form hr,
#content form hr {
  float: left;
  clear: left;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
}
#dialog form button,
#content form button {
  float: left;
  clear: left;
  margin-top: 20px;
  margin-left: 91px;
  padding: 5px;
}
#dialog form button {
  margin-left: 124px;
}

#dialog form .required_label,
#content form .required_label {
  float: right;
  margin-right: 55px;
}

#dialog form p,
#content form p {
  margin-bottom: 0;
}

#dialog form {
  text-align: left;
}
#dialog form label {
  clear: left;
}

#dialog form .spinner {
  display: none;
  background: url(/images/spinny.gif) no-repeat center right;
  width: 21px;
  height: 21px;
  margin: 0;
  float: left;
}
#dialog form .loading .spinner {
  display: inline-block;
}
#dialog form h2 {
  font-weight: bold;
  padding-bottom: 10px;
}
#dialog h1 {
  float: left;
  font-size: 150%;
  font-weight: bold;
  line-height: 46px;
  padding-left: 15px;
}

.error,
.fieldWithErrors input {
  background-color: pink;
}
input:focus {
  background-color: #E2F5C8;
}

#dialog form div.fieldWithErrors {
  display: inline;
  clear: none;
  float: none;
}

#dialog .field.inline-checkbox {
  clear: none;
  margin-left: 30px;
}
#dialog .field.inline-checkbox label {
  width: auto;
}


#dialog .errorExplanation {
}
#dialog .errorExplanation li {
  color: red;
  margin-left: 30px;
}

#dialog .message {
  text-align: left;
  padding: 30px;
  color: #666;
}
#dialog .message h2 {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 10px;
}
