.home #main {
  padding-top: 28px;
}
.home #text {
  background: url(../cmsimages/flash_shadow.png) no-repeat right 269px;
  float: left;
  width: 480px;
  padding: 0px 30px 0px 0px;
  height: 366px;
}
.home #text img {
  margin-top: 27px;
}
.home #text p {
  font-size: 123.1%; /*renders 16px */
  line-height: 26px;
  margin-top: 8px;
  text-shadow: 1px 1px 1px #ccc;
}
.home #text #call_to_action {
  text-align: center;
  margin-top: 57px;
}
/*
.home #text #call_to_action a {
  display: block;
  width: 232px;
  line-height: 39px;
  font-size: 108%;
  text-transform: uppercase;
  text-decoration: none;
}
.home #text #call_to_action a#main_btn {
  background: url(../cmsimages/home_orange_btn.jpg) no-repeat center center;
  float: left;
  margin-left: 3px;
  color: #fff;
  text-shadow: 0px -1px 0px #999;
}
.home #text #call_to_action a#sec_btn {
  background: url(../cmsimages/home_gray_btn.jpg) no-repeat center center;
  float: right;
  margin-right: 3px;
  color: #6ea523;
}
*/
.home #flash {
  float: left;
  border: none;
}

.home #content{
  float: left;
  clear: left;
  padding: 20px 0;
  color: #666;
}

.home #content_2{
	float: left;
  clear: left;
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
  color: #666;
}

.home #content_2 h2 {
  margin-bottom: 2px;
  padding-top: 10px;
  font-size: 123.1%; /* renders 16px */
  font-weight: bold;
}
.home #content p,
.home #content_2 p {
  margin-left: 0;
  padding-left: 0;
}

.home .box {
  float: left;
  width: 235px;
  padding-left: 20px;
  line-height: 22px;
}
.home .box.first {
  padding-left: 0;
}
.home .box.one-third {
  width: 309px;
  padding-right: 10px;
  border-left: 1px solid #ddd;
  height:157px;
  position:relative;
}

.home .box.one-third.hover {
	cursor:pointer;
  background: url(../cmsimages/third_active_bg.png) no-repeat right 1px;
}

.home .box.one-third.alt.hover {
	cursor:pointer;
  background: url(../cmsimages/third_active_bg_alt.png) no-repeat right 1px;
}

.home .box.one-third img.pointer{
	display:none;
}

.home .box.one-third.hover img.pointer{
	display:block;
}

.home .box.one-third img#pointer_online{
	position:absolute;
	top: -39px;
	right:22px;
}

.home .box.one-third img#pointer_ipod{
	position:absolute;
	top: -37px;
	left:181px;
}

.home .box.one-third img#pointer_print{
	position:absolute;
	top: -37px;
	left:32px;
}

.home .box.one-third.first {
  border-left: none;
}
.home .box.double {
  width: 490px;
}
.home .box.triple {
  width: 745px;
}
.home .box.quad {
  width: 1000px;
}
.home #content_2 .box {
  margin: 0;
  line-height: 20px;
}
.home #content .box h1 {
  color: #6ea523;
  padding-left: 0;
  margin-top: 10px;
  font-size: 153.9%;
  font-weight: bold;
}
.home #content .box h1 a {
  color: #6ea523;
  text-decoration: none;
}
.home #content .box.with-image {
}
.home #content .box.with-image h1 {
  font-size: 140%;
  margin-top: 50px;
  margin-bottom: 1px;
}
.home #content .box.with-image .img {
  height: 156px;
  float: left;
}
.home #content .box.with-image div.img img {
  float: left;
  padding-right: 11px;
  padding-top: 6px;
  margin-top: 50px;
}
.home #content .box.with-image p {
  font-size: 100%;
}
.home #content .box h2 {
  margin-top: 10px;
}

.home #content h2 {
  padding-left: 0;
}

.home #content {
  height: 265px;
  padding: 0;
  margin: 1px 0 0 0;
}

.home #footer {
  padding-top: 16px;
  padding-bottom: 16px;
  clear: both;
  color: #666;
}
#footer ul {
  border: none;
}


.y_home_buckets{
	font-family: Helvetica, Arial, sans-serif;
  width: 1010px;
  border-top: 1px solid #e0e0e0;
  padding-top: 50px;
  margin-top: 50px;
}

.y_home_bucket_title{
  font-size: 20px;
  color: #555555;
}

.y_home_buckets .copy{
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  padding-top: 12px;
}
.y_home_bucket_img_right{
  float: right;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 10px;
}


.y_home_left{
  width: 48%;
  float: left;
  border-right: 1px solid #e0e0e0;
  padding-right: 10px;
}
.y_home_right{
  width: 48%;
  float: right;
}

.cta_button{
	display:block;
	float:left;
	text-decoration:none;
	padding:7px 20px;
	font-size:100%;
	line-height:12px;
	text-shadow: 0px 1px 1px #787878;
	
	background-color: #e89c37;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(232, 156, 55)),to(rgb(224, 122, 41)));
	background-image: -webkit-linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	background-image: -moz-linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	background-image: -o-linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	background-image: -ms-linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	background-image: linear-gradient(top, rgb(232, 156, 55), rgb(224, 122, 41));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#e89c37', EndColorStr='#e07a29');
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	border:1px solid #af630e;
	
	-moz-box-shadow: 0px 1px 3px #adadad;
	-webkit-box-shadow: 0px 1px 3px #adadad;
	box-shadow: 0px 1px 3px #adadad;
	
	color:#FFF;
	text-align:center;
}

.cta_button strong{
	font-size:246%;
	line-height:42px;
}

.home #text #call_to_action p{
	width:250px;
	text-align:left;
	float:left;
	font-size:116%;
	line-height:18px;
	color:#666;
	text-shadow:none;
	margin:13px 0 0 10px;
	height:36px;
	display:inline;
}

.home #text #call_to_action p a{
	color:#6ea523;
	font-weight:bold;
	text-decoration:none;
}

.home #text #call_to_action p a.chat_bubbles{
	background:url(../cmsimages/chat_bubbles.gif) no-repeat center left;
	padding-left:19px;
}

h1#tools-description{
	color:#555;
	font-weight:bold;
	font-size:325%;
	line-height:84px;
	text-align:center;
	margin:30px 0 25px;
	padding:0;
	background: url(../cmsimages/green_underscore.gif) no-repeat bottom center;
}

div#content_screenshots{
}

h1#screenshots-description{
	color:#555;
	font-weight:bold;
	font-size:295%;
	line-height:72px;
	text-align:center;
	margin:50px 0 32px;
	padding:0;
}

h1#screenshots-description em{
	font-style: normal;
	font-size:100%;
	position:relative;
	height:72px;
}

h1#screenshots-description img{
	position:absolute;
	top:44px;
	left:0;
}

div.screenshot_bucket{
	float:left;
	width:483px;
	position:relative;
}

div.screenshot_bucket a.expand_modal{
	position:absolute;
	right:-7px;
	top:36px;
}

div.screenshot_bucket h3{
	color:#6ea723;
	font-size:133%;
	line-height:25px;
	font-weight:bold;
	padding:0;
	margin:10px 5px;
	float:left;
	clear:both;
	width:473px;
}

div.screenshot_bucket h3.mastery{
	padding-left:50px;
	/*background: url(../cmsimages/home_hdr_mt.gif) no-repeat left center;*/
}

div.screenshot_bucket h3.learning{
	padding-left:50px;
	/*background: url(../cmsimages/home_hdr_lc.gif) no-repeat left center;*/
}

div.screenshot_bucket h3.progress{
	padding-left:30px;
	/*background: url(../cmsimages/home_hdr_pr.gif) no-repeat left center;*/
}

div.screenshot_bucket h3.common{
	padding-left:30px;
	/*background: url(../cmsimages/home_hdr_ca.gif) no-repeat left center;*/
}

div.screenshot_bucket img.screenshot{
	float:left;
	clear:both;
}
