body.home {
  background-color: #F5F5F5;
}
#header {
  background: #000 url(../cmsimages/header_bg.gif) repeat-x top left;
  height: 81px; /* the bg image is 76px tall so add 5px of black */
  margin-bottom: 1px;
}
#header #logo {
  background-image: url(../cmsimages/logo.png);
  display: block;
  width: 333px;
  height: 76px;
}

#main {
  background: #FFF url(../cmsimages/content_bg.png) repeat-x top left;
  min-height: 38px;
  padding-top: 38px;
}
.home #main {
  background: #FFF url(../cmsimages/home_content_bg.png) repeat-x top left;
  min-height: 297px;
  padding-top: 0;
}

.body {
  width: 1000px;
  margin: auto;
}

#side {
  background: #FFF url(../cmsimages/side_bg.png) repeat-y top left;
  width: 255px;
  float: left;
}

#content {
  margin-top: 1px;
  padding-top: 16px;
  width: 745px;
  float: right;
}

.full #content,
.home #content {
  width: auto;
  float: none;
}

/* editor styles */
body#editor h1 {
  font-weight: bold;
  font-size: 200%;
}
body#editor h2 {
  font-weight: bold;
  font-size: 150%;
}
body#editor h3 {
  font-weight: bold;
  font-size: 120%;
}
