#navtop {
  float: right;
  margin-top: 24px;
  padding: 0;
}
#navtop li {
  float: left;
}

#navtop li a {
/* background: url(../cmsimages/navtop_btn.png) no-repeat center center; */
  background: url(../cmsimages/nav_split.png) no-repeat right center;
  color: #ccc;
  display: block;
  font-size: 123.1%; /*renders 16px */
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  padding: 0 15px;
  /*
  width: 128px;
  margin-left: 10px;
  */
}
#navtop {
  background: url(../cmsimages/nav_split.png) no-repeat left center;
}


#navtop li:hover a {
/* background: url(../cmsimages/navtop_hover_btn.png) no-repeat center center; */
  color: #fff;
  background-color: #313131;
}

#navtop li.selected a {
  color: #6ea523;
}
#navtop li.selected a:hover {
  text-decoration: none;
}
/* drop down */
#navtop li ul {
  display: none;
}
#navtop li:hover ul {
  display: block;
  position: absolute;
  z-index: 3;
  border-bottom: 1px solid #222;
}
#navtop li ul li {
  display: block;
  float: none;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  background-color: #313131;
  margin-left: -2px;
}
#navtop li:hover ul li a {
  background: none;
  font-size: 80%;
  text-transform: uppercase;
  text-align: left;
  color: #ccc;
}
#navtop li:hover ul li a:hover {
  color: #6ea523;
}
#navtop li:hover ul li.last a {
  margin-left: 0;
  text-shadow: none;
}
#navtop li:hover ul li.last a:hover {
  background: none;
  text-shadow: none;
  margin-left: 0;
}


#navsibling {
  width: 235px;
  margin-top: 36px;
  padding: 0;
}
#navsibling li a {
  border-bottom: 1px solid #E6E6E6;
  display: block;
  line-height: 40px;
  color: #666;
  text-decoration: none;
  font-size: 123.1%; /*renders 16px */
  padding-left: 16px;
}
#navsibling li.first a {
  border-top: 1px solid #E6E6E6;
}
#navsibling li:hover {
  background: url(../cmsimages/navsub_hover.png) repeat-y bottom right;
}
#navsibling li:hover a {
  color: #6ca31f;
}
#navsibling li.selected {
  background: url(../cmsimages/navsub_sel.png) repeat-x top left;
}
#navsibling li.selected a {
  border: none;
  background: url(../cmsimages/navsub_sel_arrow.png) no-repeat right top;
  color: #FFF;
  text-shadow: 0px -1px 0px #999;
  width: 234px;
}

#navtop li.last {
        margin-left: 15px;
}

#navtop li.last a {
        font: bold 12px helvetica, arial, sans-serif;
        background: #eb9b28 url(../cmsimages/gradientOverlayInputMD.png) 0 0 repeat-x;
        padding: 6px 8px;
        color: #fff; 
        text-decoration: none;
        -moz-border-radius: 3px; 
        -webkit-border-radius: 3px;
        -moz-box-shadow: 0 0 3px rgba(0,0,0,.80);
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,.80);
        text-shadow: 0 -1px 1px rgba(0,0,0,.35);
        border: none;
        border-left: 1px solid rgba(0,0,0,.80);
        border-right: 1px solid rgba(0,0,0,.80);
        border-bottom: 1px solid rgba(0,0,0,100);
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
}
#navtop li.last a:hover {
        background-color: #6ea523;;
}

