#content h1#main_heading {
  color: #666;
  font-size: 300%;
  text-align: center;
  margin-bottom: 20px;
}
#content p.big {
  font-size: 130%;
  padding-right: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
}

#content #banner {
  border-top: 1px solid #af630f;
  border-bottom: 1px solid #af630f;
  line-height: 67px;
  font-size: 280%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 1px #666;
  -moz-text-shadow: 0px 1px 1px #666;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 40px;
  
  position: relative;
  z-index: 1;

  -webkit-box-shadow: 0px 1px 2px #444;
  -moz-box-shadow: 0px 1px 2px #444;
  -o-box-shadow: 0px 1px 2px #444;
  box-shadow: 0px 1px 2px #444;

  background: #ea9c2d;
  background: -moz-linear-gradient(top, #ea9c2d 0%, #e37b22 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea9c2d), color-stop(100%,#e37b22));
  background: -webkit-linear-gradient(top, #ea9c2d 0%,#e37b22 100%);
  background: -o-linear-gradient(top, #ea9c2d 0%,#e37b22 100%);
  background: -ms-linear-gradient(top, #ea9c2d 0%,#e37b22 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9c2d', endColorstr='#e37b22',GradientType=0 );
  background: linear-gradient(top, #ea9c2d 0%,#e37b22 100%);
}

#content #banner_wings {
  position: absolute;
  z-index: 0;
  height: 74px;
  width: 1048px;
  margin-top: -96px;
  margin-left: -24px;
  background: url(../cmsimages/banner_wings.png) no-repeat center top;
}

.block {
  width: 320px;
  border: 1px solid #71854a;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;

  background-color: #ecf9dd;
}
#block1 {
  border-right: none;
  margin-left: 6px;
}
#block3 {
  margin-left: 25px;
  border : 1px solid #9eb1c2;

  background-color: #e6f1f7;
}

.block h3 {
  background: #83b714;
  color: #fff;
  font-size: 80%;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #488003;
  line-height: 23px;
  text-shadow: 0px -1px 1px #444;
  -moz-text-shadow: 0px -1px 1px #444;
  text-transform: uppercase;
}

#block3 h3 {
  background: #95bde0;
  border-bottom: 1px solid #6fa5d4;
}

.block .big_label {
  background: url(../cmsimages/header_bg.gif) repeat left top;
  color: #fff;
  font-size: 300%;
  line-height: 86px;
  text-shadow: 0px 2px 3px #000;

  border-top: 1px solid #a5cb5a;
  border-bottom: 1px solid #222;
}
#block3 .big_label {
  border-top: 1px solid #c4ddf3;
}

.block .pricing {
  background: #292929;
  color: #83b714;
  line-height: 24px;
  border-bottom: 1px solid #8f9684;
}
#block3 .pricing {
  color: #ccc;
  border-bottom: 1px solid #afbcc5;
}

.block h4 {
  background-color: #dfefbe;
  color: #444;
  padding-top: 10px;
  line-height: 49px;
  font-size: 130%;
  font-weight: bold;
  border-bottom: 1px solid #d8eead;
}

#block3 h4 {
  background: #dceaf5;
  border-bottom: 1px solid #c4ddf1;
}

#content .block ul {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  text-align: left;
}
#content .block li {
  list-style: inside disc;
  margin: 0;
  padding-left: 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d7eeaa;
  line-height: 43px;
  font-size: 90%;
}
#content #block3 li {
  border-bottom: 1px solid #c3dcf2;
}
#content .block li.bs_icon {
  list-style: none;
  background: url(../cmsimages/bs_bullet.png) no-repeat left center;
  margin-left: 16px;
  padding-left: 25px;
}

#dialog a.bug_button,
#dialog a.bs_bug_button,
#content .block a.bug_button {
  display: inline-block;
  color: #fff;
  text-shadow: 0px 1px 2px #444;
  text-decoration: none;
  border: 1px solid #578a07;
  font-size: 160%;
  line-height: 47px;
  padding: 0 20px;
  margin: 20px 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;

  box-shadow: 0px 1px 2px #444;

  background: #93c116;
  background: -moz-linear-gradient(top, #93c116 0%, #6fad0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93c116), color-stop(100%,#6fad0e));
  background: -webkit-linear-gradient(top, #93c116 0%,#6fad0e 100%);
  background: -o-linear-gradient(top, #93c116 0%,#6fad0e 100%);
  background: -ms-linear-gradient(top, #93c116 0%,#6fad0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c116', endColorstr='#6fad0e',GradientType=0 );
  background: linear-gradient(top, #93c116 0%,#6fad0e 100%);
}
#dialog a.bs_bug_button,
#content #block3 a.bug_button {
  border: 1px solid #70a4d4;

  background: #accdec;
  background: -moz-linear-gradient(top, #accdec 0%, #91bee7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#accdec), color-stop(100%,#91bee7));
  background: -webkit-linear-gradient(top, #accdec 0%,#91bee7 100%);
  background: -o-linear-gradient(top, #accdec 0%,#91bee7 100%);
  background: -ms-linear-gradient(top, #accdec 0%,#91bee7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#accdec', endColorstr='#91bee7',GradientType=0 );
  background: linear-gradient(top, #accdec 0%,#91bee7 100%);
}

#content .block .links {
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}
#content .block .links a {
  color: #6EA523;
  padding-left: 21px;
  padding-right: 10px;
}
#content .block .links a.video {
  background: url(/images/video_icon.png) no-repeat left center;
}
#content .block .links a.features_icon {
  background: url(/images/material_icon.png) no-repeat 4px 50%;
}
#content #block1 .links {
  margin-bottom: 45px;
}
#content #block3 .links {
  /*margin-bottom: 45px;*/
}
#content #block3 .links a {
  color: #6fa3d3;
}

#content .quote {
  margin-top: 30px;
  font-size: 250%;
  line-height: 1em;
  text-align: center;
  font-family: serif;
}
#content .quote .credit {
  font-size: 50%;
}

#content .faq {
  background-color: #eee;
  padding: 20px;
  border-radius: 7px;
}
#content .faq .left_column {
  width: 50%;
  display: inline-block;
  float: left;
}
#content .faq .right_column {
  width: 50%;
  display: inline-block;
  float: right;
}

#content h1.headline{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #555;
	font-size:42px;
	padding:0;
	margin:20px 0;
}

#content h1.headline span.nml{font-weight:400;}

#content div#burst{
	float:left;
	width:156px;
	height:156px;
	margin-left:96px;
	display:block;
	background:url(../cmsimages/burst.gif) no-repeat top left;
}

#content div#burst h3{
	width:125px;
	float:left;
	padding:0;
	margin:53px 15px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style:italic;
	text-align:center;
	font-size:14px;
	line-height:20px;
}

#content div#burst h3 span.nml{font-weight:400;}

#content div#pricing_headers,#pd_content div.pricing_headers{
	float:right;
	width:634px;
	margin:0 30px 0 0;
	display:inline;
	padding-top:20px;
}
#fb_box_overlay{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.50);
  display:none;
}
#pd_content_outer{
  display:none;
  z-index:3001;
  width:914px;
  padding:8px;
  position:absolute;
  left:50%;
  margin-left:-465px;
  top:215px;
  background-color:rgba(64,64,64,0.30);
  border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}
#pd_content{
  width:914px;
  background-color:#fff;
  border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
#pd_content div.fb_box_header{
  height:90px;
  background-color:#ebebeb;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#pd_content div.fb_box_header h1{
  color:#555;
  font-size:24px;
  line-height:90px;
  font-weight:normal;
  padding:0 30px;
  margin:0;
}
#pd_content div.fb_box_header .close_btn{
  cursor:pointer;
  position:absolute;
  top:15px;
  right:15px;
}
a.show_fb_modal{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
  font-style:normal;
  cursor:pointer;
}
#pd_content div.fb_box_content{
  width:854px;
  padding:0 30px 20px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
#pd_content div.pricing_headers.pd{
	float:right;
	width:604px;
	margin:0;
	display:inline;
	padding-top:20px;
}

#content div#greentabs{
	float:right;
	width:634px;
	margin:0 0 1px 0;
	display:inline;
	height:34px;
}

#pd_content div.pricing_headers.pd div.greentabs{
	float:right;
	width:604px;
	margin:0 0 1px 0;
	display:inline;
	height:34px;
}

#content div#greentabs h2,#pd_content div.greentabs h2{
	text-transform:uppercase;
	font-size:11px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:2px;
	color:#fff;
	background-color:#6ea523;
	border-bottom:1px solid #bbb;
	float:right;
	width:210px;
	padding:0;margin:0 1px 0 0;
	text-align:center;
	display:block;
	height:33px;
	line-height:33px;
	text-shadow:#4d7419 0px -1px 0px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#pd_content div.pricing_headers.pd div.greentabs h2{
  width:150px;
  line-height:14px;
  padding-top:2px;
  height:31px;
  letter-spacing:1px;
}

#content div#mesh_areas{
	float:right;
	width:634px;
	margin:0;
	display:inline;
}

#pd_content div.pricing_headers.pd div.mesh_areas{
	float:right;
	width:604px;
	margin:0 1px 0 0;
	display:inline;
}

#content div#mesh_areas div.mesh_area{
	width:210px;
	height:112px;
	float:left;
	background:url(../cmsimages/mesh_bg.gif) repeat top left;
	border-left:1px solid #fff;
	text-align:center;
}
#pd_content div.pricing_headers.pd div.mesh_areas div.mesh_area{
	width:150px;
	height:85px;
	float:left;
	background:url(../cmsimages/mesh_bg.gif) repeat top left;
	border-left:1px solid #fff;
	text-align:center;
}

#content div#mesh_areas div.mesh_area h2,#pd_content div.mesh_areas div.mesh_area h2{
	color:#555;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:30px;
	line-height:36px;
	padding:0;
	margin:7px 0 0;
	text-shadow:#fff 0 0 1px;
}

#content div#mesh_areas div.mesh_area p,#pd_content div.mesh_areas div.mesh_area p{
	color:#555;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:13px;
	line-height:20px;
	padding:0;
	margin:0 0 8px;
	text-shadow:#fff 0 1px 1px;
}

#content div#mesh_areas div.mesh_area p strong,#pd_content div.mesh_areas div.mesh_area p strong{
	font-weight:400;
}

table#pricing_grid,table.pricing_grid{
	width:940px;
	float:left;
	clear:both;
	margin:0 30px 20px;
	display:block;
	border-top:1px solid #ddd;
}

table.pricing_grid.pd{
	width:854px;
	float:right;
	margin:0 0 5px;
}

table#pricing_grid td,table.pricing_grid td{
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	text-align:center;
	height:34px;
	line-height:34px;
	color:#666;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:12px;
	font-style:italic;
}

table.pricing_grid.pd td.twoline{
	line-height:17px;
}

table#pricing_grid tr:nth-child(odd) td,table.pricing_grid tr:nth-child(odd) td {
   background-color: #fcfcfc;
   border-bottom:1px solid #ddd;
}

table#pricing_grid tr:nth-child(even) td,table.pricing_grid tr:nth-child(even) td {
   background-color: #fff;
   border-bottom:1px solid #ddd;
}

table#pricing_grid td.feature,table.pricing_grid td.feature{
	text-align:left;
	font-weight:400;
	font-size:13px;
	font-style:normal;
	position:relative;
	display:block;
}

table.pricing_grid.pd td.feature{
	vertical-align:center;
  line-height:15px;
  font-size:12px;
  padding:8px 8px 0 8px;
  border-left:1px solid #ddd;
}

table#pricing_grid td.feature div.info_window{
	position:absolute;
	width:280px;
	height:85px;
	padding:15px 15px 0;
	background: url(../cmsimages/infowindow.png) no-repeat top left;
	color:#fff;
	text-align:center;
	top:-93px;
	left:0;
	font-size:12px;
	line-height:18px;
	font-weight:300;
	text-shadow:#333 0px -1px 1px;
	display:none;	
}

table#pricing_grid td.feature div.info_window strong{
	font-weight:600;
}

table#pricing_grid td.feature div.info_window a{
	font-weight:600;
}

table#pricing_grid td.checked,table.pricing_grid td.checked{
	background: url(../cmsimages/check.png) no-repeat center center;
}

p.footnote{
	height:34px;
	line-height:34px;
	color:#666;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:12px;
	font-style:italic;
  padding:0 8px;
}